---
import Problem from "../components/About/Problem";
import Solution from "../components/About/Solution";
import Us from "../components/About/Us";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <div class="md:flex">
    <div class="md:flex flex-col w-100">
      <Problem />
      <Solution />
    </div>
    <div class="md:flex flex-col w-100">
      <Us />
    </div>
  </div>
</Layout>