---
import Contact from "../components/Contact";
import Hero from "../components/Hero";
import Summary from "../components/Summary";
import Youtube from "../components/Youtube";
import Layout from "../layouts/Layout.astro";

import stevieLogo from "../assets/Stevie.svg"
---
<Layout>
  <Hero />
  <div class="md:flex">
    <div class="md:w-2/3">
      <Summary />
      <Youtube />
    </div>
    <div class="md:flex flex-col md:w-1/3">
      <Contact client:load />
      <div class="flex justify-center py-4 md:py-16">
        <img class="w-1/2 md:w-full" src={stevieLogo} alt="Wonder Reader Mascot"/>
      </div>
      <p class="text-sm text-center mb-2 md:mb-0">(C) Wonder Reader 2023</p>
    </div>
  </div>
</Layout>