---
import { Icon } from "astro-icon/components";
---

<button
  class="m-2 flex max-w-fit items-center rounded-[18px] border-2 border-wonder-text bg-wonder-purple px-4 py-1 font-jakarta-sans text-white shadow-[0_3.7px_0_0_#14383D] lg:m-[10px] lg:pl-5 lg:pr-4">
  <a href="mailto:contact@wonder-reader.id" class="text-xl font-bold lg:text-2xl">Contact Us!</a>

  <Icon name="ic-send" class="h-12 w-12 lg:h-[51px] lg:w-[51px]" />
</button>
