---
import Layout from "@/layouts/Layout.astro";
import About from "@/modules/index/About.astro";
import Banner from "@/modules/index/Banner.astro";
import Features from "@/modules/index/Features.astro";
import Footer from "@/modules/index/Footer.astro";
import Team from "@/modules/index/Team.astro";
import Video from "@/modules/index/Video.astro";
---

<Layout title="Home - Wonder Reader">
  <main class="container font-jakarta-sans">
    <Banner />

    <About />

    <Features />

    <Video />

    <Team />
  </main>

  <Footer />
</Layout>
