---
import Banner from "@/components/index/Banner.astro";
import Video from "@/components/index/Video.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home - Wonder Reader">
  <main class="container mx-auto">
    <Banner />

    <Video />
  </main>
</Layout>
