---
import Articles from "@/components/index/Articles.astro";
import Banner from "@/components/index/Banner.astro";
import Features from "@/components/index/Features.astro";
import Footer from "@/components/index/Footer.astro";
import Quote from "@/components/index/Quote.astro";
import Video from "@/components/index/Video.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home - Wonder Reader">
  <main class="container mx-auto">
    <Banner />

    <Video />

    <Features />

    <Articles />

    <Quote />
  </main>

  <Footer />
</Layout>
