---
import About from "@/components/index/About.astro";
import Banner from "@/components/index/Banner.astro";
import Features from "@/components/index/Features.astro";
import Footer from "@/components/index/Footer.astro";
import Team from "@/components/index/Team.astro";
import Video from "@/components/index/Video.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home - Wonder Reader">
  <main class="container font-jakarta-sans">
    <Banner />

    <About />

    <Features />

    <Video />

    <Team />
  </main>

  <Footer />
</Layout>
