---
import { Icon } from "astro-icon/components";

import Contact from "@/components/Contact.astro";
---

<nav class="hidden items-center justify-between px-9 py-7 text-wonder-text lg:flex">
  <div class="flex items-center">
    <Icon name="ic-wonder-nav" class="m-3 h-16 w-14" />

    <Icon name="ic-wonder-nav-text" class="h-8 w-16" />
  </div>

  <div class="flex items-center gap-3.5">
    <a href="/" class="px-9 py-5 text-2xl font-medium">Home</a>

    <a href="/#" class="px-9 py-5 text-2xl font-medium">About Us</a>

    <a href="/#" class="px-9 py-5 text-2xl font-medium">Use Cases</a>

    <Contact />
  </div>
</nav>
