---
import Hero from "../components/Hero";
import Youtube from "../components/Youtube";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<main>
		<Hero/>
		<Youtube/>
		<slot />
	</main>
</body>
</html>