---
import { Icon } from "astro-icon";
---

<section
  class="flex flex-col gap-[75px] bg-wonder-dark px-8 py-[168px] font-jakarta-sans text-white lg:flex-row lg:px-52">
  <div class="flex flex-col items-center gap-[41px]">
    <div class="rounded-lg bg-wonder-purple p-5">
      <Icon name="ic-affordable" class="h-[99px] w-[99px]" />
    </div>

    <h1 class="text-3xl font-bold lg:text-4xl lg:leading-[57.6px]">Affordable</h1>

    <p class="text-center text-base leading-7 tracking-[-0.05px]">
      A braille keyboard with a production cost of under <span class="font-bold">4jt IDR!</span> (amongst the most
      affordable in the world)
    </p>
  </div>

  <div class="flex flex-col items-center gap-[41px]">
    <div class="rounded-lg bg-wonder-purple p-5">
      <Icon name="ic-refreshable" class="h-[99px] w-[99px]" />
    </div>

    <h1 class="text-3xl font-bold lg:text-4xl lg:leading-[57.6px]">Refreshable</h1>

    <p class="text-center text-base leading-7 tracking-[-0.05px]">
      It currently has <span class="font-bold">9 braille cells that are fully refreshable</span>, saving time and
      creating a better experience.
    </p>
  </div>

  <div class="flex flex-col items-center gap-[41px]">
    <div class="rounded-lg bg-wonder-purple p-5">
      <Icon name="ic-teachable" class="h-[99px] w-[99px]" />
    </div>

    <h1 class="text-3xl font-bold lg:text-4xl lg:leading-[57.6px]">Teachable</h1>

    <p class="text-center text-base leading-7 tracking-[-0.05px]">
      An <span class="font-bold">in-house made app</span> and <span class="font-bold">built-in speakers</span> can be
      found on Wonder Reader, enabling braille education.
    </p>
  </div>
</section>
