---
import Icon from "astro-icon";
---

<footer class="container relative mx-auto bg-wonder-purple py-[168px] font-jakarta-sans">
  <div class="mx-auto flex w-[430px] flex-col items-center gap-16">
    <h1 class="text-center text-[38px] font-bold leading-[45px] text-white">Ready to take the next step with us?</h1>

    <button
      class="flex max-w-fit items-center rounded-[21px] border-2 border-wonder-text bg-white px-14 py-3 text-wonder-purple shadow-[0_4.2px_0_0_#14383D]">
      <span class="text-2xl font-bold">Contact Us!</span>
    </button>
  </div>

  <Icon name="ic-braille-yellow" class="absolute bottom-9 left-0 h-[427px] w-[280px]" />

  <Icon name="ic-stevie-blue" class="absolute bottom-9 right-0 h-[288px] w-[276px]" />
</footer>
