<section class="flex justify-center py-[168px]">
  <div class="rounded-[25px] border-2 border-wonder-text shadow-[8px_16px_0_0_#14383D]">
    <iframe
      class="mx-auto px-7 py-8"
      width="960"
      height="540"
      src="https://www.youtube.com/embed/JViAbPYdxp4?si=UnA2XHeCDHyqPzFr"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>
