<section class="flex flex-col items-center justify-center gap-8 pb-16 pt-10 lg:gap-16 lg:pb-32 lg:pt-20">
  <h1 class="text-center text-2xl font-bold text-wonder-text lg:text-5xl">Watch Wonder Reader in Action!</h1>

  <div class="rounded-[25px] border-2 border-wonder-text shadow-[8px_16px_0_0_#14383D]">
    <iframe
      class="mx-auto h-[240px] w-[340px] px-4 py-4 lg:h-[540px] lg:w-[960px] lg:px-7 lg:py-8"
      src="https://www.youtube.com/embed/JViAbPYdxp4?si=UnA2XHeCDHyqPzFr"
      title="Wonder Reader YouTube Demo Video"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</section>
